<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4 product-box">
      <h4><%= product.name %></h4>
      <img src="http://lorempixel.com/250/300/" alt="placeholder image">
      <p><%= product.description %></p>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, placeholder: "Oops, breaks if you don't add input!" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
